<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/assets/css/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="blog">
        <header>
            <a href="/index.html"><i class="fa-solid fa-chevron-left"></i></a>
            <h1 class="title text-main">Lorem, ipsum.</h1>
            <img src="/assets/images/avata1.png" alt="logo" height="80%" class="logo"/>
        </header>
        <div class="card" id="information">
            <h2 class="text-main">Information</h2>
            <ul class="details">
                <li><i class="fa-solid fa-calendar-days"></i>18/08/1999</li>
                <li><i class="fa-solid fa-user"></i>Nam</li>
                <li><i class="fa-solid fa-envelope"></i>nguyenthanhthang999@gmail.com</li>
                <li><i class="fa-solid fa-mobile-screen-button"></i>0859669678</li>
                <li><i class="fa-brands fa-facebook"></i><a href="https://www.facebook.com/nguyenthanhthang188" class="text-color-white">https://www.facebook.com/nguyenthanhthang188</a></li>
                <li><i class="fa-brands fa-github"></i><a href="https://github.com/ntt188" class="text-color-white">https://github.com/ntt188</a></li>
            </ul>   
        </div>
        <div class="card" id="education">
            <h2 class="text-main">Education</h2>
            <div class="details">
                <h3 class="text-sub">DUY TAN UNIVERSITY</h3>
                <p>Major: Software Engineering</p>
                <p>Graduated with: Excellent</p>
                <p>GPA: 3.21</p>
            </div>
        </div>
        <div class="card" id="skill">
            <h2 class="text-main">Skill</h2>
            <div class="details">
                <h3 class="text-sub">BASIC PROGRAMMING KNOWLEDGE</h3>
                <p>Basic knowledge of programming languages (C, C++, C#, Java,...), knowledge of object-oriented programming (OOP), SQL databases.</p>
                <h3 class="text-sub">INTERFACE PROGRAMMING</h3>
                <p>Basic skills in HTML, CSS. Basic knowledge of Bootstrap, Reactjs, Angular.</p>
            </div>
        </div>
        <div class="card" id="hobbies">
            <h2 class="text-main">Hobbies</h2>
            <ul class="details">
                <li>Listen to music</li>
                <li>Learn social knowledge</li>
                <li>Tourism</li>
            </ul>
        </div>
    </div>
</body>
</html>