.blog_car {
    display: grid;
    padding: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "ava inf";
    border-radius: 10px;
}

.avata {
    grid-area: ava;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avata img {
    border-radius: 10px;
    color: var(--text-color);
    height: 70%;
}

.information {
    grid-area: inf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information h2 {
    height: 15%;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.information .button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--text-sub-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    background-color: var(--text-main-color);
    color: var(--box-color);
    box-shadow: 0 0 3px 3px var(--text-main-color)
}