@media (max-width: 739px) {
    .container {
        grid-template-columns: 95%;
        grid-template-rows: 200px 200px 200px 200px 200px 75px;
        grid-template-areas: 
        "hd"
        "blog1"
        "blog2"
        "blog3"
        "blog4"
        "ft";
        justify-content: center;
        background-color: #1f2833;
    }

    header {
        padding: 5px !important;
        justify-content: center !important;
    }

    header .logo {
        display: none;
    }

    header button {
        display: none;
    }

    .blog_car {
        padding: 5px;
    }
    
    .blog_car h2 {
        color: var(--text-main-color);
        height: 15%;
    }
    
    .blog_car .sub-title {
        color: var(--text-sub-color);
        height: 15%;
    }
    
    .blog_car p {
        height: 55%;
        color: var(--text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }
}